@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Arya';
      src: url('/fonts/Arya/Arya-Regular.ttf') format('truetype');
      font-weight: 400;
    }
    @font-face {
      font-family: 'Arya';
      src: url('/fonts/Arya/Arya-Bold.ttf') format('truetype');
      font-weight: 700;
    }
    @font-face {
        font-family: 'Bitter';
        src: url('/fonts/Bitter/Bitter-VariableFont_wght.ttf') format('truetype');
      }
    @font-face {
      font-family: 'Bitter-italic';
      src: url('/fonts/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype');
    }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block; /* Show scrollbar */
  width: 12px;
  height: 12px;
}

/* Optional: Customize the appearance of the scrollbar */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Custom style for rows with a shorter bottom border */
.custom-border-row::after {
  content: '';
  position: absolute;
  left: 0;
  right: 20px; /* Adjust this value to make the border end earlier */
  bottom: 0;
  height: 1px;
  background-color: #006400; /* Replace with your border color */
}
